@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@import '../theme/bootstrap-custom';
@import '../theme/bootstrap.overrides';

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  -webkit-overflow-scrolling: touch !important;
  -webkit-font-smoothing: antialiased;
  overscroll-behavior-y: none;
  //background-color: #eeeeee5c;
}

html {
  font-size: 100%;
}

.app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: "Plus+Jakarta+Sans", "sans-serif";
}

.app-content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.footer {
  flex: 0 0 auto;
}

.padding-v-0 {
  padding-bottom: 0;
  padding-top: 0;
}
